{% extends 'base.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block body %}
    <h1>Paiement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FraisPaiement</th>
                <th>DatePaiement</th>
                <th>MotifPaiement</th>
                <th>MoratoirePaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.fraisPaiement }}</td>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d') : '' }}</td>
                <td>{{ paiement.motifPaiement }}</td>
                <td>{{ paiement.moratoirePaiement ? paiement.moratoirePaiement|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('paiement_show', {'id': paiement.id}) }}">show</a>
                    <a href="{{ path('paiement_edit', {'id': paiement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('paiement_new') }}">Create new</a>
{% endblock %}
